html,
body {
  margin: 0;
  height: 100%;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: $dark-color;
}

a:hover {
  text-decoration: underline;
}

body {
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
}

@media (max-width: 767px) {
  body {
    font-size: 12px
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 13px
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 15px
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px
  }
}

strong {
  font-weight: normal;
}