/* Journey featured */

.jfeatured {
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
  height: 65%;
  background-color: lighten($dark-color, 5%);
  border-bottom: 20px solid lighten($primary-color, 20%);
  position: relative;
  overflow: hidden;
}

.jfeatured__background-image {
  top: 0;
  right: 5%;
  height: 100%;
  max-height: 500px;
  opacity: 0.25;
  position: absolute;
}

@media (max-width: 500px) {
  .jfeatured__background-image {
    right: 0;
    width: 100%;
    height: auto;
  }
}

.jfeatured__title {
  text-align: left;
  font-size: 2.1em;
  color: lighten($dark-color, 50%);
  text-shadow: 35px 25px 10px lighten($primary-color, 25%);
}

.jknowing {
  margin: 100px auto;
  width: 85%;
}

.jknowing__description {
  font-size: 1em;
}

.jknowing__description:first-letter {
  font-size: 2em;
  font-weight: bold;
}

.jknowing__about {
  padding: 0;
  list-style-type: none;
}

.jknowing__about:after {
  content: '';
  clear: both;
  display: table;
}

.jknowing__about-item {
  width: 100 / 3 * 1%;
  float: left;
}

@media (max-width: 700px) {
  .jknowing__about-item {
    width: 100%;
  }
}

.jknowing__about-item-title {
  font-size: 1.5em;
}

.jknowing_level-one,
.jknowing_level-two,
.jknowing_level-three {
  padding: 5%;
  border-left-width: 3px;
  border-left-style: solid;
  font-size: 1em;
}

.jknowing_level-one {
  border-left-color: $color-blue;
}

.jknowing_level-two {
  border-left-color: $color-yellow;
}

.jknowing_level-three {
  border-left-color: $color-orange;
}

.jknowing__level-link {
  margin-top: 20px;
  font-weight: bold;
  color: $primary-color;
  display: inline-block;
}

.jway {
  margin: 100px auto 0 auto;
  width: 85%;
}

.jway:after {
  content: '';
  clear: both;
  display: table;
}

.jway__illustration {
  margin: 1% auto;
  width: 60%;
  display: block;
  position: relative;
}

.jway__illustration-way {
  fill: lighten($primary-color, 40%);
}

.jway__illustration-indicator {
  fill: lighten($dark-color, 30%);
}

.jway__illustration-text {
  font-size: 5px;
  fill: lighten($dark-color, 20%);
}

.jway__illustration-description {
  position: relative;
}

.program {
  margin: 50px auto;
  width: 85%;
  position: relative;
}

.hierarchy {
  margin: 50px auto;
  width: 100%;
  position: relative;
}

.hierarchy__tree {
  width: 100%;
  height: 3000px;
  position: relative;
}

@keyframes hierarchy__tree__link {
  0% {
    stroke-dasharray: 20;
  }
  100% {
    stroke: $primary-color;
    stroke-dasharray: 200;
  }
}

.hierarchy__tree__link {
  fill: none;
  stroke: $dark-color;
  stroke-dasharray: 0;
  stroke-width: 8px;
  stroke-opacity: 0.1;
  animation: hierarchy__tree__link 5s infinite alternate;
  animation-timing-function: ease-in-out;
}

.hierarchy__tree__node > circle {
  fill: $dark-color;
  stroke: $dark-color;
  stroke-width: 5px;
}

@keyframes hierarchy__tree__node--internal {
  0% {
    stroke-dasharray: 5
  }
  100% {
    stroke: $primary-color;
    stroke-dasharray: 50
  }
}

.hierarchy__tree__node--internal > circle {
  fill: $dark-color;
  stroke: $dark-color;
  stroke-width: 8px;
  animation: hierarchy__tree__node--internal 5s infinite alternate;
  animation-timing-function: ease-in-out;
}

.hierarchy__tree__text {
  text-anchor: start !important;
}